@import "tailwindcss";

:root {
  --primary: #0F2854;
  --background: #0F2854;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
