@import "tailwindcss";

:root {
  --primary: #0f2854;
  --background: #0f2854;
  --foreground: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pacifico: var(--font-pacifico);
}
